################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GrowIndigo_Shared/bin/Debug
/GrowIndigo_Shared/obj/Debug
/.vs/GrowIndigo/v15/Server/sqlite3
/.vs/Working/v15
/.vs/GrowIndigo/v15/.suo
