################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GrowIndigo_Shared/bin/Debug
/GrowIndigo_Shared/obj/Debug
